.h_card {
    box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 6px;
}
.body_container  {
    margin: 0px 40px 0px 40px;  
}
.container_element {
display:flex;
justify-content:space-between;
margin-bottom:18px;
}
